<div class='link-form'>
  <%= form_tag links_path do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    <%= label_tag :url %>
    <%= text_field_tag :url %>
    <%= submit_tag 'Add link' %>
  <% end %>
</div>
<div class='link-list'>
    <% if @links != nil %>
    <% @links.each do |link| %>
      <%= render partial: 'link', locals: {link: link} %>
    <% end %>
  <% end %>
</div>
